.aboutUs {
  .newsSlider__items {
    &.widthHalf {
      width: calc(40% - 74px);
      margin-bottom: 129px;
    }

    &:not(.widthHalf) {
      width: calc((100% / 3) - 17px);
      margin-bottom: 25px;

      &:not(:nth-child(3n)) {
        margin-right: 25px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__pagination {
    margin-top: 71px;
    margin-bottom: 173px;
  }
}
