.about {
  padding-bottom: 159px;
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__text {
    margin-top: 54px;
    p {
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      color: #000000;
    }
    iframe {
      width: 100%;
      height: 500px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 294px);

    @media (max-width: 992px) {
      width: 100%;
    }

    .splide--loop {
      height: 491px;

      @media (max-width: 992px) {
        height: 300px;
      }

      .splide__track {
        height: 100%;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }

    .splide--slide {
      margin-top: 18px;

      li {
        border-radius: 8px;
      }
    }
  }

  .splide--nav
    > .splide__slider
    > .splide__track
    > .splide__list
    > .splide__slide.is-active,
  .splide--nav > .splide__track > .splide__list > .splide__slide {
    border: unset;

    @media (max-width: 992px) {
      height: 70px !important;
    }
  }
}
