$main-color: #bf0807;
$black-color: #000000;
$white-color: #ffffff;
@mixin Input {
  border: 1px solid rgba(191, 8, 7, 0.5);
  border-radius: 8px;
  width: 300px;
  height: 52px;
}
@mixin Icon {
  width: 62px;
  height: 62px;
  background-color: $main-color;
}
@mixin textParag {
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
}
@mixin textContact {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 0 !important;
}

.flexAlign {
  align-items: center !important;
}

.export {
  margin-bottom: 220px;
  &__map {
    margin-top: 20px;
    margin-bottom: 86px;
    &--map {
      path {
        transition: all 0.2s;
      }

      path:hover {
        fill: rgba(191, 8, 7, 0.53) !important;
        transform: translateY(-5px);
        transition: all 0.2s;
      }
    }
    &--text {
      margin-top: 10px;
      p {
        @include textParag;
      }
    }
  }
  &__videos {
    margin-bottom: 130px;
    div {
      width: 50%;
      video {
        width: 100%;
        height: 382px;
        border-radius: 8px;
      }

      &:first-child {
        margin-right: 24px;
      }
    }
  }
  &__partner {
    &--header {
      margin-bottom: 99px;
      h4 {
        color: $main-color;
        font-size: 35px;
        line-height: 43px;
        font-weight: 700;
        text-align: center;
      }
    }
    &--content {
      p {
        @include textContact;
      }
      & .contact-person {
        width: 50%;
        & > div:not(:last-child) {
          margin-bottom: 40px;
        }

        & .name-position {
          margin-bottom: 52px;
          margin-left: 83px;
          & > p:first-child {
            color: $black-color;
            font-size: 25px;
            line-height: 30px;
            font-weight: 400;
            margin-bottom: 6px;
          }
          & > p:nth-child(2) {
            color: $main-color;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
          }
        }
        & .phone,
        .email,
        .location {
          & .icon {
            margin-right: 23px;
            width: 60px;
            height: 60px;
            background-color: $main-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 26px;
              color: $white-color;
            }
          }
        }
        & .numbers {
          p {
            margin-bottom: 0;
            a {
              display: inline-block;
              color: #000000;
              margin-bottom: 10px;
            }
            span {
              font-weight: 600 !important;
            }
          }
        }
      }
      & .contact {
        width: 50%;
        form {
          textarea {
            width: 100%;
            margin-bottom: 15px;
            border: 1px solid rgba(191, 8, 7, 0.5);
            box-sizing: border-box;
            border-radius: 8px;
            padding: 17px 33px;
            height: 217px;
            resize: none;

            &::placeholder {
              font-size: 15px;
              line-height: 18px;
              color: rgba(151, 151, 151, 0.9);
            }
          }
        }
        &__form--in__file {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          box-sizing: border-box;
          border-radius: 8px;

          input[type="file"] {
            display: none;
          }
          .file-label::before {
            content: "Choose file";
            display: block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid rgba(191, 8, 7, 0.5);
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            font-weight: 600;
            font-size: 13px;
            color: #000000;
          }
        }

        &__form {
          padding-bottom: 50px;
          h2 {
            font-weight: 600;
            font-size: 31px;
            line-height: 38px;
            color: #bf0807;
            margin-bottom: 46px;
          }

          &--in {
            form {
              display: flex;
              flex-wrap: wrap;
            }

            &__items {
              position: relative;
              width: calc(50% - 19px);
              height: 52px;
              margin-bottom: 26px;

              svg {
                position: absolute;
                left: 33px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
              }

              &:not(:nth-child(even)) {
                margin-right: 38px;
              }

              input {
                width: 100%;
                height: 100%;
                border: 1px solid rgba(191, 8, 7, 0.5);
                box-sizing: border-box;
                border-radius: 8px;
                padding-left: 63px;
                padding-right: 20px;

                &::placeholder {
                  font-size: 15px;
                  line-height: 18px;
                  color: #c4c4c4;
                }
              }
            }
          }
        }
      }
    }
  }

  .fit {
    img {
      height: auto !important;
      width: 55px !important;
    }
  }
}
