.form {
  ////////////////FORM TITLE ///////////////////////

  .imgPath {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  select {
    font-size: 12px;
  }

  * {
    @media (max-width: 1201px) {
      &:not(select) {
        @media (max-width: 1201px) {
          margin-right: 0 !important;
        }
      }
    }
  }

  &__title {
    margin-bottom: 29px;
    h2 {
      color: #000000;
      font-size: 32px;
      font-weight: 800;
      line-height: 39px;
    }
    p {
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }
  }
  ///////////////FORM BODY including all labels & h4 tags custom//////////////////////////
  &__body {
    h4 {
      color: #000000;
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
    }
    label {
      font-size: 12px;
      line-height: 18px;
      color: #000000;
    }
    input {
      padding: 5px 10px 5px;
    }
  }
  ///////////////// 1. Personal information//////////////////////////////////
  &__personal-information {
    margin-bottom: 29px;
    margin-top: 29px;

    &__header {
      h4 {
        margin: 29px 0 29px;
        color: #000000;
      }
    }
    &__body {
      @media (max-width: 1201px) {
        display: flex !important;
        flex-direction: column-reverse !important;
      }

      &__input-field {
        width: calc(100% - 243px);
        margin-right: 32px;
        &__name--input {
          margin-bottom: 35px;

          & > div:not(:last-child) {
            margin-right: 24px;
          }
          label {
            margin-bottom: 10px;
          }
          input {
            width: 307px;
            height: 34px;
            border: 1px solid rgba(191, 8, 7, 0.22);
            border-radius: 5px;
          }
        }
        &__birth--input {
          margin-bottom: 35px;

          & > div:not(:last-child) {
            margin-right: 24px;
          }
          label {
            margin-bottom: 10px;
          }
          input,
          select {
            width: 307px;
            height: 34px;
            border: 1px solid rgba(191, 8, 7, 0.22);
            border-radius: 5px;
          }
        }
        &__address {
          label {
            margin-bottom: 10px;
          }
          input {
            width: 100%;
            height: 34px;
            border: 1px solid rgba(191, 8, 7, 0.22);
            border-radius: 5px;
          }
        }
        &__marital-other-status {
          margin-top: 35px;
          width: 100%;
          & > div:not(:last-child) {
            margin-right: 24px;
          }
          label {
            margin-bottom: 10px;
          }
          input,
          select {
            width: 307px;
            height: 34px;
            border: 1px solid rgba(191, 8, 7, 0.22);
            border-radius: 5px;
          }
        }
      }
      &__photo {
        position: relative;
        margin-top: 27px;
        width: 243px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 326px;
        background-color: #ffffff;
        border: 1px solid rgba(191, 8, 7, 0.2);
        border-radius: 10px;

        @media (max-width: 1201px) {
          margin-bottom: 50px;
          height: 150px;
        }

        &__download {
          position: relative;
          width: 107px;
          height: 40px;
          border: 1px solid rgba(191, 8, 7, 0.2);
          border-radius: 10px;
          margin-bottom: 5px;

          p {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            color: #000000;
            margin-top: 10px;
          }
        }
        p {
          text-align: center;
          font-size: 10px;
          line-height: 17px;
          color: #000000;
        }
      }
    }
  }
  ///////////////// 2. Personal information//////////////////////////////////
  &__contact-information {
    margin-bottom: 67px;
    &__header {
      p {
        color: #000000;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
      }
    }
    label {
      margin-top: 7px;
      color: #000000;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
    }
    input {
      width: 307px;
      height: 34px;
      border: 1px solid rgba(191, 8, 7, 0.22);
      border-radius: 5px;
    }
    select {
      width: 53px;
      height: 34px;
      border: 1px solid rgba(191, 8, 7, 0.22);
      border-radius: 5px;
      margin-right: 9px;
    }
  }
  ///////////////// 3. Education//////////////////////////////////
  &__education {
    margin-bottom: 30px;

    &__input-field label {
      font-size: 12px;
      line-height: 18px;
      color: #000000;
    }
    &__input-field__secondary {
      &__name {
        width: 50%;
        margin-right: 24px;
      }
      &__city {
        width: 50%;
      }
      input {
        width: 100%;
        height: 34px;
        border: 1px solid rgba(191, 8, 7, 0.22);
        border-radius: 5px;
        margin-top: 10px;
      }
    }
    &__input-field__high {
      &__first-line {
        width: 100%;
        margin-bottom: 20px;
        & > div {
          width: 33%;
        }
        & > div:not(:last-child) {
          margin-right: 24px;
        }
      }
      &__second-line {
        width: 100%;
        margin-bottom: 69px;
        & > div {
          width: 33%;
        }
        & > div:not(:last-child) {
          margin-right: 24px;
        }
      }
      margin-top: 33px;
      input {
        width: 100%;
        height: 34px;
        border: 1px solid rgba(191, 8, 7, 0.22);
        border-radius: 5px;
        margin-top: 10px;
      }
    }
  }
  ///////////////// 4&5. IT skills & Language//////////////////////////////////
  &__it-skills,
  &__language {
    margin-bottom: 39px;
    &__header {
      margin-bottom: 14px;
    }
    &__input-field {
      width: 100%;
      input {
        width: 100%;
        height: 34px;
        border: 1px solid rgba(191, 8, 7, 0.22);
        border-radius: 5px;
      }
    }
  }
  ///////////////// 5. Experience//////////////////////////////////
  &__experience {
    margin-bottom: 49px;
    &__input-field {
      label {
        font-size: 12px;
        line-height: 18px;
        color: #000000;
      }
      &__first-line {
        width: 100%;
        margin-bottom: 69px;
        & > div {
          width: 33%;
        }
        & > div:not(:last-child) {
          margin-right: 24px;
        }
        input {
          width: 100%;
          height: 34px;
          border: 1px solid rgba(191, 8, 7, 0.22);
          border-radius: 5px;
          margin-top: 10px;
        }
      }
      &__second-line {
        & > div {
          width: 50%;
        }
        & > div:not(:last-child) {
          margin-right: 24px;
        }
        input {
          width: 100%;
          height: 34px;
          border: 1px solid rgba(191, 8, 7, 0.22);
          border-radius: 5px;
          margin-top: 10px;
        }
      }
    }
  }
  ///////////////// 6. Reference person//////////////////////////////////
  &__reference-person {
    &__header {
      margin-bottom: 32px;
    }
    margin-bottom: 110px;
    &__input-field {
      label {
        font-size: 12px;
        line-height: 18px;
        color: #000000;
      }
      & > div {
        width: 25%;
      }
      & > div:not(:last-child) {
        margin-right: 24px;
      }
      input {
        width: 100%;
        height: 34px;
        border: 1px solid rgba(191, 8, 7, 0.22);
        border-radius: 5px;
        margin-top: 10px;
      }
    }
  }
  /////////////////  Button send //////////////////////////////////
  &__btn-send {
    margin-bottom: 176px;
    button {
      background-color: #bf0807;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      width: 246px;
      height: 55px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .file {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .form__personal-information__body__input-field__name--input {
    @media (max-width: 1201px) {
      width: 100% !important;
      flex-direction: column !important;
      margin-right: 0;
    }
  }

  .form__personal-information__body__input-field {
    @media (max-width: 1201px) {
      width: 100% !important;
      margin-right: 0;
    }

    input {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }
  }

  .form__personal-information__body__input-field__name--input__name {
    @media (max-width: 1201px) {
      margin-right: 0 !important;
    }
  }

  .form__personal-information__body__input-field__birth--input {
    > div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }

      select {
        @media (max-width: 1201px) {
          width: 100% !important;
          margin-right: 0;
        }
      }
    }
  }

  .form__personal-information__body__input-field__marital-other-status {
    > div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }

      select {
        @media (max-width: 1201px) {
          width: 100% !important;
          margin-right: 0;
        }
      }
    }
  }

  .form__contact-information__input-field {
    @media (max-width: 1201px) {
      display: flex;
      flex-direction: column !important;
    }

    > div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }

    input {
      @media (max-width: 1201px) {
        width: calc(100% - 62px) !important;
        margin-right: 0;
      }
    }

    .form__contact-information__input-field__email {
      input {
        width: 100% !important;
      }
    }
  }

  .form__education__input-field__secondary {
    @media (max-width: 1201px) {
      display: flex;
      flex-direction: column !important;
    }

    > div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }

    input {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }
  }

  .form__education__input-field__high {
    @media (max-width: 1201px) {
      display: flex;
      flex-direction: column !important;
    }

    div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }

    input {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }
  }

  .form__education__input-field__high__first-line {
    @media (max-width: 1201px) {
      flex-direction: column !important;
    }
  }

  .form__education__input-field__high__second-line {
    @media (max-width: 1201px) {
      flex-direction: column !important;
    }
  }

  .form__experience__input-field__first-line {
    @media (max-width: 1201px) {
      flex-direction: column !important;
    }

    input {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }

    div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }
  }

  .form__experience__input-field__second-line {
    @media (max-width: 1201px) {
      flex-direction: column !important;
    }

    input {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }

    div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }
  }

  .form__reference-person__input-field {
    @media (max-width: 1201px) {
      flex-direction: column !important;
    }

    input {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }

    div {
      @media (max-width: 1201px) {
        width: 100% !important;
        margin-right: 0;
      }
    }
  }

  .form__personal-information__body__photo {
    @media (max-width: 1201px) {
      width: 100%;
    }
  }

  .form__btn-send {
    @media (max-width: 992px) {
      margin-bottom: 50px;
    }
  }

  .form__personal-information__photo__download {
    position: absolute;
    border: 1px solid rgba(191, 8, 7, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    transform: translateY(-50%);
    top: 37%;

    p {
      margin-bottom: 0;
    }
  }
}
