.header {
  position: absolute;
  padding: 13px 0;
  left: 0;
  width: 100%;
  z-index: 9;

  &__search {
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    &--item {
      position: relative;
      background: rgba(196, 196, 196, 0.48);
      border-radius: 12px;
      width: 609px;
      height: 84px;

      img {
        position: absolute;
        right: 2px;
        top: -26px;
        cursor: pointer;
      }

      input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 0 20px;
        font-size: 24px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.62);

        &::placeholder {
          font-size: 24px;
          line-height: 29px;
          color: rgba(255, 255, 255, 0.62);
        }
      }

      svg {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  &__logo {
    width: 180px;
  }

  &__nav {
    nav {
      display: flex;
    }

    &--item {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #fff;

      &.active {
        font-weight: 800;
      }

      &:hover {
        color: #fff;
      }

      &:not(:last-child) {
        margin-right: 27px;
      }
    }
  }

  &__langBox {
    &--search {
      margin-right: 13px;
      button {
        width: 50px;
        height: 50px;
        background: rgba(244, 244, 244, 0.62);
        border-radius: 8px;
        border: none;
      }
    }

    &--multiLang {
      width: 50px;
      height: 50px;
      background: rgba(244, 244, 244, 0.62);
      border-radius: 8px;
      border: none;
      position: relative;

      &:hover {
        .header__langBox--multiBox {
          display: flex;
        }
      }

      button {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.69);
        font-family: "Poppins", sans-serif !important;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;

        svg {
          margin-left: 5px;
        }
      }
    }

    &--multiBox {
      position: absolute;
      width: 50px;
      display: none;
      top: 48px;
      padding: 5px 0;
      padding-left: 8px;

      button {
        font-family: "Poppins", sans-serif !important;
      }
    }
  }
}

#inHeader {
  position: relative;
  background-color: #fff;

  nav {
    a {
      color: #000;
    }
  }
}
