.news {
  .newsSlider__items {
    &.widthHalf {
      width: calc(40% - 74px);
      margin-bottom: 129px;

      @media (max-width: 1405px) {
        width: calc(40% - 78px);
      }

      @media (max-width: 1305px) {
        width: calc(40% - 92px);
      }

      @media (max-width: 1140px) {
        width: calc(40% - 93px);
      }

      @media (max-width: 1236px) {
        width: calc(40% - 99px);
      }

      @media (max-width: 1070px) {
        width: calc(40% - 130px);
      }

      @media (max-width: 992px) {
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 25px;
      }
    }

    &:not(.widthHalf) {
      width: calc((100% / 3) - 17px);
      margin-bottom: 25px;

      &:not(:nth-child(3n)) {
        margin-right: 25px;
        @media (max-width: 992px) {
          margin-right: 0;
        }
      }

      @media (max-width: 992px) {
        width: 100%;

        margin-left: 0 !important;
        margin-bottom: 25px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 100%;
    }
  }

  &__pagination {
    margin-top: 71px;
    margin-bottom: 173px;
  }
}
