.productions {
  margin-top: 171px;
  padding-bottom: 191px;

  &__wrapper {
    margin-top: -38px;

    &__item:nth-child(2) {
      margin-top: 82px;
    }

    &__item--content {
      margin-left: 23px;    

      & h2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 19px;

      }
      & p {
        font-size: 17px;
        line-height: 21px;
      }
      &--arrow {
        margin-top: 27px;
        & a {
          color: #bf0807;
          font-size: 17px;
          line-height: 21px;
          font-weight: 600;
        }
      }
    }
  }
}
