.structure {
  padding-bottom: 159px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    width: calc((100% - 292px) - 90px);
    margin-top: -40px;
  }

  &__titleImg {
    svg,
    img {
      width: 100%;
    }
  }

  &__person {
    width: 100%;
    margin-top: 136px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    background: #fefefe;
    box-shadow: 0px 12px 39px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;

    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 0;
    }

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      margin-top: 21px;
      border-top: 1px solid #c4c4c4;
      padding-top: 25px;

      img {
        width: 26px;
        height: 26px;
        background: #bf0807;
        border-radius: 100%;
        padding: 5px;
        margin-right: 12px;
      }
      font-weight: 200;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
  }

  &__personList {
    display: flex;
    flex-wrap: wrap;

    &--item {
      display: flex;
      flex-direction: column;
      &:not(:nth-child(3n)) {
        padding-right: 20px;
      }
    }
  }

  &__personListEnd {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;

    &--content {
      align-items: center;
      margin-top: 21px;
      border-top: 1px solid #c4c4c4;
      padding-top: 25px;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      display: -webkit-box;
      line-height: 24px;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;

      p {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
      }
    }

    &--item {
      display: flex;
      flex-direction: column;
      width: 417px;
      margin-top: 52px;

      h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        margin-bottom: 21px;
      }
    }
  }

  &__personImageBox {
    border-radius: 8px;
    overflow: hidden;
    height: 272px;

    img {
      width: 100%;
      border-radius: 8px;
      transition: all 0.2s;
    }

    &:hover {
      transition: all 0.2s;

      img {
        border-radius: 8px;
        transform: scale(1.03);
      }
    }
  }
}
