.vacancies {
  margin-bottom: 159px;

  .menu__details {
    padding-right: 50px;

    @media (max-width: 992px) {
     padding-right: 0;
    }
  }

  &__menuBox {
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .parent {
    padding: 0 20px;
    &__info {
      &:last-child {
        margin-top: 28px;
      }

      button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: transparent;
        border: none;
        font-family: Poppins !important;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 25px;
      }
    }

    &__checkBox {
      display: flex;
      align-items: center;
      input {
        margin-right: 7px;
        appearance: none;
        background: rgba(196, 196, 196, 0.5);
        width: 15px;
        height: 15px;
        border-radius: 5px;
        margin-bottom: -2px;

        &:checked {
          background-image: url("../images/check.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 70%;
        }
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__wrapper {
    width: 100%;

    @media (max-width: 992px) {
      flex-direction: column;
      width: 100%;
    }

    &__block {
      background-color: #fffefe;
      margin-bottom: 13px;
      border: 1px solid #fffefe;
      border-radius: 6px;
      padding: 0 25px;

      @media (max-width: 1201px) {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
      }

      &--position-info {
        @media (max-width: 1201px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        h3 {
          margin-top: 27px;
          margin-bottom: 6px;
          font-size: 22px;
          font-weight: 500;
          line-height: 27px;
          color: #000000;
        }
        p:nth-child(2) {
          margin-bottom: 13px;
          color: #bf0807;
          font-size: 17px;
          font-weight: 500;
          line-height: 21px;
        }
        p:nth-child(3) {
          margin-bottom: 24px;
          color: #000000;
          font-size: 15px;
          font-weight: normal;
          line-height: 18px;
        }
        span img {
          margin-right: 5px;
          margin-top: -4px;
        }
      }

      &--deadline-date {
        div {
          border: 1px solid rgba(0, 0, 0, 0.22);
          border-radius: 15px;
          padding: 13px 36px;
        }

        p {
          color: #000000;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          margin-bottom: 0;
        }
        span img {
          margin-right: 5px;
          margin-top: -4px;
          margin-right: 15px;
        }
        &--date {
          color: #bf0807;
        }
      }
      &--more-info {
        p {
          color: #000000;
          font-size: 12px;
          font-weight: 600;
          line-height: 15px;

          a {
            color: #000000;
            font-size: 12px;
            font-weight: 600;
            line-height: 15px;

            @media (max-width: 1201px) {
              margin-top: 25px;
              display: inline-block;
            }
          }
          span {
            margin-left: 14px;
          }
        }
      }
    }
  }

  .hideElem {
    display: none;
  }
}
